.jumbotron.jumbotron-fluid {
    margin-top: 32px;
}
.display-2 {
    text-align: center;
}

.row.featurette {
    margin-top: 130px; 
    margin-bottom: 90px;
}
.container.marketing {
    margin-top: 50px;
}
.fab {
    font-display: auto;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
  }

#navBar {
    margin-bottom: 50px;
}
#dreamTeam{
    text-align: center;
    color: white;
}
#dreamTeamContainer{
    background-color: #047AFB;
    margin-bottom: 50px;
}
#footR {
    margin-top: 30px;
}
#calendarTitle {
    visibility: hidden;
}