.jumbotron.jumbotron-fluid {
    margin-top: 32px;
}
.display-2 {
    text-align: center;
}

.row.featurette {
    margin-top: 130px; 
    margin-bottom: 90px;
}

#mainIntro {
    text-align: center;
}
#dreamTeam{
    text-align: center;
    color: white;
}
#dreamTeamContainer{
    background-color: #047AFB;
}
#footR {
    margin-top: 30px;
}

