.jumbotron.jumbotron-fluid {
    margin-top: 32px;
}
.display-2 {
    text-align: center;
}

#mainIntro {
    text-align: center;
}
#dreamTeam{
    text-align: center;
    color: white;
}
#dreamTeamContainer{
    background-color: #047AFB;
}